@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.BGContainer {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: block;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  overflow-y: auto;
  text-align: left;
  width: 100vw;
  height: 100vh;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.BGContainer header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 12rem;
  background-color: #58c9e5;
  position: relative;
  margin-bottom: 5rem;
}

.BGContainer header h1 {
  color: rgb(23, 23, 23);
  cursor: default;
}

.BGContainer h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  border-radius: 0.2rem;
  width: fit-content;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.BGContainer h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  border-radius: 0.2rem;
  /* width: fit-content; */
  padding: 0 1rem;
}

.BGContainer p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  padding: 0 1rem;
  line-height: 1rem;
}

.EditButton {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  height: fit-content;
  margin-top: auto;
  margin-right: 2rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.EditButton:hover {
  border: 0;
}

.BGContainer main {
  display: block;
  justify-content: space-between;
  padding: 0 1rem;
}

.BGContainer section {
  position: relative;
  padding: 0.5rem 6%;
  width: 100%;
}

.ImageContainer {
  border-radius: 90%;
  width: 14rem;
  height: 14rem;
  position: absolute;
  left: 5rem;
  bottom: -40%;
  cursor: pointer;
  background-color: #344c5a;
  margin-left: 1.2em;
}

/* .ImageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 90%;
} */

.ImageContainer:hover .IconContainer {
  visibility: visible;
}

.IconContainer {
  position: absolute;
  height: fit-content;
  width: fit-content;
  display: block;
  top: 25%;
  left: 25%;
  z-index: 3;
  visibility: hidden;
}

.FirstInfo h1,
.FirstInfo h3 {
  width: fit-content;
  padding: 0 1rem;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.Profile {
  cursor: default;
}

.Profile > hr {
  width: 90%;
  margin: 0 auto;
}

/* ------------------*/
/* Estilos de prueba */
.container_infouser {
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
  margin-left: 4rem;
  color: #111;
}

.user_skill {
  margin-top: 0.5rem;
}

.user_location {           /* aplicado */
  font-style: italic;
  margin: 0 1rem;
}

.user_bio {
  margin-top: 1rem;
}
.user_bio h3 {
  line-height: 1.9;
}

.user_status {
  padding: 0 1rem;
}
/* ------------------*/

.BGContainer header h1 {
  color: #111;
  font-size: 2.6rem;
  text-align: center;
  width: fit-content;
  display: block;
  margin-left: 22rem;
  padding-top: 6rem;
}

.Studies {
  display: flex;
  gap: 1rem;
}

.Background {
  position: absolute;
  background-color: #c4c4c4;
  opacity: 0.5;
  /* z-index: 9999; */
  height: 100vh;
  width: 100%;
}

.EditPhoto h2 {
  background-color: initial;
  margin: 0;
}

@media screen and (max-width: 845px) {
  .BGContainer {
    overflow-y: visible;
  }

  .FirstInfo h1 {
    font-size: 2.5rem;
  }

  .FirstInfo h2 {
    font-size: 2rem;
  }

  .ImageContainer {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .BGContainer {
    padding-top: 3rem;
    overflow-y: scroll;
  }

  .ImageContainer {
    margin-left: 0;
  }
}

@media screen and (max-width: 758px) {
  .BGContainer header h1 {
    display: none;
  }

  .BGContainer section h1,
  .BGContainer section h3 {
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  /* .BGContainer header {
    background-color: #fab180;
    border-radius: 0;
  } */

  .BGContainer {
    /* width: 100%; */
    border-radius: 0;
    margin: 0;
    overflow-y: scroll;
    /* min-height: 100vh; */
  }

  .ImageContainer {
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }

  .FirstInfo h3 {
    text-align: center;
  }
}

:global(.dark-mode) .BGContainer {
  background-color: #383636;
}

:global(.dark-mode) .BGContainer h2,
:global(.dark-mode) .BGContainer h1 {
  color: #fff;
}
:global(.dark-mode) .BGContainer h3,
:global(.dark-mode) .BGContainer p {
  color: #d9d9d9;
}

:global(.dark-mode) .BGContainer header {
  background-color: #242424;
}

:global(.dark-mode) .BGContainer header h1 {
  color: #fff;
}
