.Card {
    align-items: center;
    cursor: pointer;
    padding-left: 1rem;
    background-color: transparent;
    width: 100%;
}

.MainContainer {
  display: flex;
  justify-content: space-between;
}

.ConfigContainer {
  display: flex;
}

.MainContainer button {
  display: block;
  margin: auto auto;
}

.PhotoContainer {
    height: 6.5rem;
    width: 6.5rem;
    box-shadow: 0.3px 0.3px 1px #8f9395;
}
.IconsContainer {
  display: flex;
  gap: 10%;
  justify-content: space-between;
  align-items: center;
}

.PhotoContainer img {
    height: 100%;
    width: 100%;
}

.AttributesContainer {
    margin-left: .6rem;
}

.AttributesContainer h1{
    text-align: left;
    font-family: "Montserrat-SemiBold";
    color: #0A66C2;
    font-size: 1.2rem;
    margin: 0;
    width: 15rem;
}

.Card:hover .AttributesContainer h1 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.AttributesContainer h2 {
    text-align: left;
    font-family: "Montserrat-Medium";
    color: #324A59;
    font-size: .7rem;
    margin: 0;
    width: 15rem;
    margin-bottom: .3rem;
}

.AttributesContainer h3 {
    text-align: left;
    font-size: .7rem;
    color: #324A59;
    width: 15rem;
    font-family: "Montserrat-Regular";
    margin: 0;
    margin-top: .8rem;
}
.LastContainer {
    height: 100%;
    min-height: 6.8rem;
    color: #324A59;
    font-size: .7rem;
    font-family: "Montserrat-Regular";
    margin-left: 2rem;
}
.LastContainer img {
    margin-top: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
}

.LastContainer h3 {
    display: block;
    margin:0;
    width: 5rem;
    line-height: 1.8rem;
}

:global(.dark-mode) .AttributesContainer h1 {
    color:#ddaf8f
}

:global(.dark-mode) .AttributesContainer h2, :global(.dark-mode) .AttributesContainer h3  {
    color:#ddaf8f
}

