@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.card {
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 10px;
  cursor: default;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.cardImage {
  margin: 1.2rem;
  border-radius: 90%;
  height: 8rem;
  width: 8rem;
  /* overflow: hidden; */
  align-items: center;
  background-color: #344c5a;
  cursor: pointer;
  user-select: none;
}
.cardImage img {
  border-radius: 90%;
  max-width: 100%;
  max-height: 100%;
  /* display: block; */
}

.cardProfile {
  width: 85%;
  text-align: left;
  margin-left: 1vw;
  padding-bottom: 1.2rem;
}
.cardProfile p {
  font-size: medium;
}
.cardProfile h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: left;
  padding: 0 1rem 0 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #9ac2ef;
  cursor: pointer;
}
.cardProfile h1:hover {
  color: #58c9e5;
}
.cardProfile h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1rem;
  padding: 0 1rem 0 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #232323;
}
.subtitle {
  font-weight: bold;
}
.subtitle p {
  font-weight: normal;
  font-style: italic;
  color: #777;
}

.nameIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  margin-top: 0.5rem;
}
.nameIcon p {
  font-weight: bold;
}
.nameIcon h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.cardButtons {
  margin-left: auto;
  padding-left: 2rem;
}
.icon {
  size: 60px;
  color: #232323;
  margin: 1rem;
}

.textContainer {
  max-height: 2.58em;
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*:::::::::::TOOLTIP:::::::::::*/

/* Contenedor */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Texto del popup */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #324a59;
  color: #fff;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Forma del popup */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #324a59 transparent transparent transparent;
}

/* Muestra el tooltip al posar el mouse */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*:::::::::::::::::::::::::::::*/

.MainContainer {
  display: flex;
  justify-content: space-between;
}

.ConfigContainer {
  display: flex;
}

.MainContainer button {
  display: block;
  margin: auto auto;
}

.PhotoContainer {
  height: 6.5rem;
  width: 6.5rem;
  box-shadow: 0.3px 0.3px 1px #8f9395;
}
.IconsContainer {
  display: flex;
  gap: 10%;
  justify-content: space-between;
  align-items: center;
}

.PhotoContainer img {
  height: 100%;
  width: 100%;
}

.AttributesContainer {
  margin-left: 0.6rem;
}

.AttributesContainer h1 {
  font-family: "Montserrat-SemiBold";
  text-align: left;
  color: #0a66c2;
  font-size: 1.2rem;
  margin: 0;
  width: 15rem;
}

.Card:hover .AttributesContainer h1 {
  text-decoration: none;
  /* text-decoration-thickness: 2px; */
}

.AttributesContainer h2 {
  text-align: left;
  font-family: "Montserrat-Medium";
  color: #324a59;
  font-size: 0.7rem;
  margin: 0;
  width: 15rem;
  margin-bottom: 0.3rem;
}

.AttributesContainer h3 {
  text-align: left;
  font-size: 0.7rem;
  color: #324a59;
  width: 15rem;
  font-family: "Montserrat-Regular";
  margin: 0;
  margin-top: 0.8rem;
}
.LastContainer {
  height: 100%;
  min-height: 6.8rem;
  color: #324a59;
  font-size: 0.7rem;
  font-family: "Montserrat-Regular";
  margin-left: 2rem;
}
.LastContainer img {
  margin-top: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
}

.LastContainer h3 {
  display: block;
  margin: 0;
  width: 5rem;
  line-height: 1.8rem;
}

:global(.dark-mode) .card {
  background-color: #383636;
}

:global(.dark-mode) .cardProfile h1 {
  color: #fff;
}

:global(.dark-mode) .cardProfile p {
  color: #999;
}
:global(.dark-mode) .cardProfile h3 {
  color: #d9d9d9;
}

:global(.dark-mode) .tooltip .tooltiptext {
  color: #333;
  background-color: #fff;
}
:global(.dark-mode) .tooltip .tooltiptext::after {
  border-color: #fff transparent transparent transparent;
}
